.contacto-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  min-height: 93vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.contacto-container {
  background-color: #101014;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 20px #000;
  text-align: center;
  animation: fadein 0.6s ease;
}

.contacto-container h1 {
  color: #4af;
  margin-bottom: 1rem;
}

.contacto-container .descripcion {
  color: #ccc;
  margin-bottom: 2rem;
  font-size: 0.95rem;
}

.contacto-container input,
.contacto-container textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  background: #444;
  color: #fff;
  font-size: 0.95rem;
}

.contacto-container input::placeholder,
.contacto-container textarea::placeholder {
  color: #aaa;
}

.contacto-container button {
  width: 100%;
  padding: 12px;
  background: #4af;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contacto-container button:hover {
  background: #2770b4;
  transform: scale(1.05);
  color: white;
}

/* Animacion de fade in */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fondo animado */
body {
  background: url('/ProyectoGacha_Web/assets/Images/fondo1.jpg') no-repeat center center fixed;
  background-size: cover;
  animation: cambioFondo 16s infinite;
}

@keyframes cambioFondo {
  0% {
    background: url('/ProyectoGacha_Web/assets/Images/fondo1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  33% {
    background: url('/ProyectoGacha_Web/assets/Images/fondo2.JPG') no-repeat center center fixed;
    background-size: cover;
  }
  66% {
    background: url('/ProyectoGacha_Web/assets/Images/fondo3.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  100% {
    background: url('/ProyectoGacha_Web/assets/Images/fondo1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}