.navbar {
  background-color: #000000;
  padding: 25px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid #4af;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-left a,
.nav-right a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  transition: color 0.3s;
}

.nav-left a::after,
.nav-right a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #4af;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-left a:hover,
.nav-right a:hover {
  color: #4af;
}

.nav-left a:hover::after,
.nav-right a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ================================
  ANIMACIONES GLOBALES Y VENTANAS EMERGENTES
================================== */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  position: relative;
  background: #2c2c3e;
  padding: 2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px #00ffc3;
  animation: fadein 0.3s ease-out;
}

.popup-content h2 {
  margin-bottom: 1rem;
}

.popup-content p {
  margin-bottom: 1.5rem;
  /* Separación entre texto y botón */
}

.popup-content button {
  width: auto;
  padding: 10px 20px;
  background: #4af;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.popup-content button:active {
  transform: scale(0.95);
  background-color: #1c5fa3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;
}

.popup-content button:hover {
  background: #2770b4;
  transform: scale(1.05);
  color: white;
}

.popup-close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease;
}

.popup-close:hover {
  color: #00ffc3;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}